<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="Browsers" >
			<sectionGroup name="GoogleChrome">
				<sectionGroup name="Switches">
					<section name="switch" type="System.Configuration.NameValueSectionHandler"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>

	<Browsers>
		<GoogleChrome>
			<Switches>
				<switch key="IsIncognito" value="false" />
				<switch key="IsStartMaximized" value="true" />
				<switch key="WindowSize" value="800,600" />
				<switch key="IsUserMobileUserAgent" value="false" />
				<switch key="NoDefaultBrowserCheck" value="true" />
			</Switches>
		</GoogleChrome>
	</Browsers>

</configuration>